* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.hidden {
  display: none !important;
}

.py-rem {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.my-rem {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

img {
  max-width: 100%;
}
